<%- include('partials/header'); -%>
<form action="" method="post">
  <h2>Log in</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Log in</button>
</form>
<img src="/login-successful.png" alt="successful login" srcset="" />
<h4 id="login">Login successful, redirecting to homepage...</h4>

<script>
  const img = document.querySelector("img");
  const login = document.getElementById("login");
  img.style.display = "none";
  login.style.display = "none";
  const form = document.querySelector("form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors
    document.querySelector(".email.error").textContent = "";
    document.querySelector(".password.error").textContent = "";

    const email = form.email.value;
    const password = form.password.value;
    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      if (data.errors) {
        document.querySelector(".email.error").textContent = data.errors.email;
        document.querySelector(".password.error").textContent =
          data.errors.password;
      }
      if (data.user) {
        form.style.display = "none";
        img.style.display = "block";
        login.style.display = "block";
        setTimeout(function () {
          location.assign("/");
        }, 400);
        console.log("Login successful");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
<%- include('partials/footer'); -%>
